body {
    margin: 0;
}

#country {
    width: 1280px;
    height: 715px;
    text-align: center;
    vertical-align: middle;
    line-height: 125px; 
    
    background-image: url(americanFlag.png);
}

#country p {
    font-size: 125px;
}

button {
    background-color: #ff8c00; /* Green */
    height:75px;
    width: 175px;
    margin-right: 200px;
    margin-left: 200px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}