<!doctype html>
<html ng-app="demo" ng-controller='mainCtrl'>
	<head>
		<title>HP Houses</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    	<script src="creative3.js"></script>
    	
    	<link rel="stylesheet" href="creative3.css">
	</head>

	<body>
		<h1 class= "title"> The Houses of Harry Potter </h1>

		<div id = "allHouses" >
    		<div id = "house" class = "gryffindor"> 
        	    <button ng-click="classByIndex(0)"> 
        	        <h2> Gryffindor </h2>
        	    </button>
    		</div>
    		
    		<div id = "house" class = "ravenclaw"> 
    		    <button ng-click="classByIndex(1)"> 
        	        <h2> Ravenclaw </h2>
        	    </button>
    		</div>
    		
    		<div id = "house" class = "slytherin"> 
    	    	<button ng-click="classByIndex(2)"> 
        	        <h2> Slytherin </h2>
        	    </button>
    		</div>
    		
    		<div id = "house" class = "hufflepuff"> 
    	    	<button ng-click="classByIndex(3)"> 
        	        <h2> Hufflepuff </h2>
        	    </button>
    		</div>
		</div>
		
		<div id = "houseInformation"> </div>
		
	</body>
</html>